[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "parTimeROC"]
	path = parTimeROC
	url = https://github.com/faizazhar/partimeroc
